<!DOCTYPE html>
<html xmlns:th="http://thymeleaft.org"
      xmlns="http://www.w3.org/1999/xhtml">
<html>
    <head>
        <title>TechShop</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" th:href="@{/css/menu.css}" />
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"></header>
        <div class="contenido">
        <h2>Datos Cliente</h2>
        <a th:href="@{/articulo/guardar}">Regresar</a>
        <br>
        <br>
            <form th:action="@{/articulo/guardar}"
                  method="post"
                  th:object="${articulo}">
                <input type="hidden" name="idArticulo" th:field="*{idArticulo}"/>
                <label for="categoria">Categoria:</label>
                <select th:field="*{idCategoria}">
                    <option th:each="categoria : ${categorias}"
                            th:value="${categoria.idCategoria}"
                            th:text="${categoria.descripcion}"/>
                </select>
                <br>
                <input type="hidden" name="idCliente" th:field="*{idCliente}">
                <label for="nombre">Descripcion: </label>
                <input type="text" id="descripcion" name="descripcion" th:field="*{descripcion}"/>
                <br>
                <label for="apelidos">Detalle: </label>
                <input type="text" id="detalle" name="detalle" th:field="*{detalle}"/>
                <br>
                <label for="correo">Precio: </label>
                <input type="number" id="precio" name="precio" th:field="*{precio}"/>
                <br>
                <label for="telefono">Existencias: </label>
                <input type="tel" id="existencias" name="existencias" th:field="*{existencias}"/>
                <br>
                <label for="telefono">Activo: </label>
                <input type="checkbox" id="activo" name="activo" th:field="*{activo}"/>
                <br>
                    <input type="submit" name="Guardar" value="Guardar" />
            </form>
        </div>
        <footer th:replace="layout/plantilla :: footer"></header>
    </body>
</html>
